body {
    background-image: url(../img/white_wall_hash.png);
}

.lista_obras {
    margin-right: 20px;
    margin-top: 20px;
}

.date {
    color: #585858;
}

.comment {
    margin: 20px 20px 20px 20px;
}

.fecha_comment{
    text-align: right;
}

.lista_compras {
    margin-bottom: 20px;
}

.encabezado {
    height: 86px;
}