{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts - Como Pagar?{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="card mt-3 p-3">
        <h3>¿Cómo querés pagar?</h3><br>
        <div class="row">
            <div class="col-8">
                <ul class="list-group">
                    <form action="{% url 'symbiarts_app:confirmar_compra' obra.id %}" method="post">
                        {% csrf_token %}
                        {{ formComoPagarObra }}
                        {% for metodo_pago in metodos_pago %}
                            <li class="list-group-item">
                                <button type="submit" class="btn btn-outline-primary" name="metodoPago" value="{{ metodo_pago.nombre }}">{{ metodo_pago.nombre }}</button>
                            </li>
                        {% endfor %}
                    </form>
                </ul>

            </div>
            <div class="col-4">
                {% with archivo_obra=obra.archivos.first %}
                    {% if archivo_obra.archivo.url %}
                        <img src="{{ archivo_obra.archivo.url }}" class="img-fluid" alt="{{ obra.nombre }}">
                    {% else %}
                        <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="{{ obra.nombre }}">
                    {% endif %}
                {% endwith %}
                <h2>{{ obra.nombre }}</h2>
                <p>Cantidad: {{ cantidad_obras }}</p>
                {% if obra.categoria %}
                    <p>Categoria: {{ obra.categoria }}</p>
                {% endif %}
                <p>Envío: Acordar con el vendedor</p>
                <p>Precio: {{ obra.precio }}</p>
                <p>Total: {{ precio_total }}</p>
            </div>
        </div>
    </div>
{% endblock %}
