{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts - Compra exitosa!{% endblock %}

{% block content %}
    <div class="jumbotron text-xs-center mt-3">
        <h1 class="display-3">¡Gracias por comprar en Symbiarts!</h1>
        <h3>Tu numero de compra es: #{{ nro_compra }}</h3>
        <p class="lead">
            <strong>Revisá tu email,</strong> te enviamos el resumen de tu compra con tu comprobante.
        </p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary" href="{% url 'symbiarts_app:lista_obras' %}" role="button">Volver a la tienda</a>
            <a class="btn btn-primary" href="{% url 'symbiarts_app:lista_compras' %}">Ir a compras</a>
        </p>
    </div>
{% endblock %}
