{% extends 'symbiarts_app/base.html' %}
{% load static %}

{% block title %}Tienda Symbiarts - Confirmar compra carrito{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="card mt-3 p-3">
        <div class="row">
            <div class="col-8">
                <h2>Revisá y confirmá tu compra</h2>

                <h3>Detalle del envío</h3>
                <li class="list-group-item">Envío acordar con el vendedor</li>

                <h3>Detalle de las obras</h3>
                {% for item in carrito %}
                    {% with obra=item.obra  %}
                        <li class="list-group-item">
                            <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="..." height="70" width="70">
                            {{ obra.nombre }}
                            ({{ item.cantidad }})
                            Precio: ${{ item.precio }}
                            Subtotal: ${{ item.precio_total }}
                        </li>
                    {% endwith %}
                {% endfor %}
                <h3>Detalle del pago</h3>
                <li class="list-group-item">{{ metodo_pago_elegido }}</li>

                <h3>Datos de facturación</h3>
                <li class="list-group-item">{{ user.username }}</li>

            </div>
            <div class="col-4">
                <h5>Resumen de compra</h5>
                <p>Obras: {{ carrito|length }}</p>
                <p>Envío: Acordar con el vendedor</p>
                <p>Precio total: {{ carrito.obtener_precio_total }}</p>
                <form action="{% url 'symbiarts_app:grabar_compra_carrito' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success">Confirmar Compra</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
