{% extends 'symbiarts_app/base.html' %}
{% load static %}

{% block title %}Tienda Symbiarts - Confirmar compra carrito{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="card mt-3 p-3">
        <div class="row">
            <div class="col-8">
                <h2>Revisá y confirmá tu compra</h2>
                <br>

                <h4>Detalle del envío</h4>
                <li class="list-group-item">Envío acordar con el vendedor</li>

                <br>
                <h4>Detalle de las obras</h4>
                {% for item in carrito %}
                    {% with obra=item.obra  %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    {% with archivo_obra=obra.archivos.first %}
                                        {% if archivo_obra.archivo.url %}
                                            <img src="{{ archivo_obra.archivo.url }}" class="img-fluid" alt="{{ obra.nombre }}" style="height: 90px; width: auto">
                                        {% else %}
                                            <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="{{ obra.nombre }}" style="height: 90px; width: auto">
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="col pl-md-0">
                                    <p>{{ obra.nombre }}<b>({{ item.cantidad }})</b></p>
                                    <p>Precio: <b>${{ item.precio }}</b></p>
                                    <p>Subtotal: <b>${{ item.precio_total }}</b></p>
                                </div>
                            </div>
                        </li>
                    {% endwith %}
                {% endfor %}

                <br>
                <h4>Datos de facturación</h4>
                <li class="list-group-item">{{ user.username }}</li>

            </div>
            <div class="col-4">
                <h2>Resumen de compra</h2>
                <p>Obras: <b>{{ carrito|length }}</b></p>
                <p>Envío: <b>Acordar con el vendedor</b></p>
                <p>Precio total: <b>{{ carrito.obtener_precio_total }}</b></p>
                <form action="{% url 'symbiarts_app:grabar_compra_carrito' %}" method="POST">
                    {% csrf_token %}
                    <script
                        src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                        data-public-key= "{{ public_key }}"
                        data-preference-id="{{ preference.id }}"
                        data-button-label="Confirmar compra">
                    </script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
