{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% load humanize %}
{% load gravatar %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <div class="card mt-3">
        {% if obra.pausada == True %}
            <div class="card-header">
                <h4 class="card-subtitle mb-2 text-muted"><i class="fas fa-exclamation-circle"></i> Publicación pausada {{ obra.fecha_pausada|naturaltime }}</h4>
            </div>
        {% endif %}
        <div class="row p-3">
            <div class="col-8">
                <div id="myCarousel" class="carousel">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        {% for archivo_obra in archivos_obra %}
                            {% if forloop.first %}
                                <div class="active carousel-item" data-slide-number="{{ forloop.counter0 }}">
                            {% else %}
                                <div class="carousel-item" data-slide-number="{{ forloop.counter0 }}">
                            {% endif %}
                            <img src="{{ archivo_obra.archivo.url }}" class="img-responsive mx-auto d-block" height="350">
                            </div>
                        {% endfor %}

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- main slider carousel nav controls -->
                    <ul class="carousel-indicators list-inline mx-auto">
                        {% for archivo_obra in archivos_obra %}
                            {% if forloop.first %}
                                <li class="list-inline-item active align-self-center">
                                <a id="carousel-selector-{{ forloop.counter0 }}" class="selected" data-slide-to="{{ forloop.counter0 }}" data-target="#myCarousel">
                            {% else %}
                                <li class="list-inline-item align-self-center">
                                <a id="carousel-selector-{{ forloop.counter0 }}" data-slide-to="{{ forloop.counter0 }}" data-target="#myCarousel">
                            {% endif %}
                            <img src="{{ archivo_obra.archivo.url }}" class="img-thumbnail mx-auto d-block" height="70" width="70">
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="detalle_comprar col-4">
                <h1>{{ obra.nombre }}</h1>
                {% if obra.fecha_publicacion %}
                    <div class="mt-2">
                        {% if obra.tipo == 'AS' %}
                            <p class="text-muted">En venta desde el {{ obra.fecha_publicacion }}</p>
                        {% else %}
                            <p class="text-muted">Publicada el {{ obra.fecha_publicacion }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% if obra.precio and obra.tipo == 'AS' %}
                    <p class="display-4">${{ obra.precio }}</p>
                {% endif %}
                {% if obra.usuario == user %}
                    <a class="btn btn-outline-secondary" href="{% url 'symbiarts_app:editar_obra' pk=obra.pk %}">Editar</a>
                    {% if obra.tipo == 'AS' %}
                        {% if obra.pausada == True %}
                            <a class="btn btn-outline-success" href="{% url 'symbiarts_app:reactivar_obra' pk=obra.pk %}">Reactivar</a>
                        {% else %}
                            <a class="btn btn-outline-danger" href="{% url 'symbiarts_app:pausar_obra' pk=obra.pk %}">Pausar</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if obra.pausada == False and obra.usuario != user and obra.tipo == 'AS' %}
                    <form class="form-inline" action="{% url 'symbiarts_app:orquestar_compra_carrito' obra.id %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_messages %}
                        {% bootstrap_form_errors formCarrito %}
                        <div class="form-row mb-2">
                            <label class="mr-2" for="id_cantidad">Cantidad</label>
                            {% bootstrap_field formCarrito.cantidad show_label=False %}
                        </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-outline-success" name="accion" value="comprar">Comprar</button>
                            <button type="submit" class="btn btn-outline-primary ml-2" name="accion" value="agregar_al_carrito">Agregar al carrito</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            {% if obra.categoria %}
                <p>Categoria: {{ obra.categoria }}</p>
            {% endif %}
            <p>Descripcion: {{ obra.descripcion|linebreaksbr }}</p>
            {% if obra.dimensiones %}
                <p>Dimensiones: {{ obra.dimensiones }}</p>
            {% endif %}
            {% if obra.tipo %}
                <p>Tipo: {{ obra.get_tipo_display }}</p>
            {% endif %}
        </div>
    </div>
    <hr>
    {% include 'symbiarts_app/nuevo_comentario.html' %}
    <hr>
    <p>Ultimos comentarios</p>
    {% for comentario in comentarios %}
        <div class="card mb-2">
            <div class="comment">
                <div class="date">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ comentario.usuario|gravatar }}" alt="{{ comentario.usuario }}" class="w-40 rounded">
                        </div>
                        <div class="col-6 pl-0">
                            <p>{{ comentario.texto}}</p>
                        </div>
                        <div class="col-4 text-right">
                            {{ comentario.fecha|naturaltime }}
                            {% if comentario.usuario == user %}
                                <a href="{% url 'symbiarts_app:eliminar_comentario' pk=comentario.pk %}"><i class="far fa-trash-alt"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Aun no hay comentarios <i class="far fa-sad-tear"></i></p>
    {% endfor %}

    {% include 'symbiarts_app/paginator.html' with paginator=comentarios %}
{% endblock %}
