{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% load humanize %}
{% load gravatar %}

{% block content %}
    <div class="card p-3">
        <div class="row">
            <div class="col-8">
                {% if user.username == "algo" %}
                    {% for archivo_obra in archivos_obra %}
                        <p><a href="{{ archivo_obra.archivo.url }}">{{ archivo_obra.archivo.name }}</a></p>
                    {% endfor %}
                {% endif %}
                <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="Smiley face" height="430" width="590">
            </div>
            <div class="col-4">
                <h2>{{ obra.nombre }}</h2>
                {% if obra.categoria %}
                    <p>Categoria: {{ obra.categoria }}</p>
                {% endif %}
                {% if obra.precio %}
                    <p>Precio: {{ obra.precio }}</p>
                {% endif %}
                {% if obra.usuario == user %}
                    <a class="btn btn-outline-secondary" href="{% url 'symbiarts_app:editar_obra' pk=obra.pk %}">Editar</a>
                    <a class="btn btn-outline-danger" href="{% url 'symbiarts_app:eliminar_obra' pk=obra.pk %}">Eliminar</a>
                {% endif %}
                {% if obra.fecha_publicacion %}
                    <div class="date mt-2">
                        <p>Publicado el {{ obra.fecha_publicacion }}</p>
                    </div>
                {% endif %}
                <form action="{% url 'symbiarts_app:orquestar_compra_carrito' obra.id %}" method="post">
                    {% csrf_token %}
                    {{ formCarrito }}
                    <button type="submit" class="btn btn-outline-primary" name="accion" value="agregar_al_carrito">Agregar al carrito</button>
                    <button type="submit" class="btn btn-outline-success" name="accion" value="comprar">Comprar</button>
                </form>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <p>Descripcion: {{ obra.descripcion|linebreaksbr }}</p>
            {% if obra.dimensiones %}
                <p>Dimensiones: {{ obra.dimensiones }}</p>
            {% endif %}
            {% if obra.tipo %}
                <p>Tipo: {{ obra.tipo }}</p>
            {% endif %}
        </div>
    </div>
    <hr>
    {% include 'symbiarts_app/nuevo_comentario.html' %}
    <hr>
    <p>Ultimos comentarios</p>
    {% for comentario in comentarios %}
        <div class="card mb-2">
            <div class="comment">
                <div class="date">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ comentario.usuario|gravatar }}" alt="{{ comentario.usuario }}" class="w-40 rounded">
                        </div>
                        <div class="col-6 pl-0">
                            <p>{{ comentario.texto}}</p>
                        </div>
                        <div class="col-4 text-right">
                            {{ comentario.fecha|naturaltime }}
                            {% if comentario.usuario == user %}
                                <a href="{% url 'symbiarts_app:eliminar_comentario' pk=comentario.pk %}"><i class="far fa-trash-alt"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Aun no hay comentarios <i class="far fa-sad-tear"></i></p>
    {% endfor %}

    {% if comentarios.has_other_pages %}
        <div class="row justify-content-center py-4">
            <nav aria-label="Paginacion de Comentarios">
                <ul class="pagination">
                    {% if comentarios.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">Primera</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Primera</span>
                        </li>
                    {% endif %}

                    {% if comentarios.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ comentarios.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                    {% endif %}

                    {% for page_num in comentarios.paginator.page_range %}
                        {% if comentarios.number == page_num %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ page_num }}
                                    <span class="sr-only">(activo)</span>
                                </span>
                            </li>
                        {% elif page_num > comentarios.number|add:'-5' and page_num < comentarios.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if comentarios.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ comentarios.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                    {% endif %}

                    {% if comentarios.number != comentarios.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ comentarios.paginator.num_pages }}">Ultima</a>
                            </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Ultima</span>
                            </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
