{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts - Detalle compra #{{ compra.id }}{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% load humanize %}

{% block content %}
    <h2>Compra #{{ compra.id }} <small class="text-muted">{{ compra.fecha }}</small></h2>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <h4>Resumen de compra</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Obras ({{ compra.cantidad_obras }})</p>
                                </td>
                                <td class="text-right">
                                    <p>$ {{ compra.precio_total }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card mt-2">
                    <h4>Detalle de facturacion</h4>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    {% for detalle in compra.detalle_venta_obra.all %}
                        {% with obra=detalle.obra %}
                            <h4>Compraste</h4>
                            <!-- Hacer un previsualizador de archivos o galeria -->
                            <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="Smiley face" height="150" width="150">
                            {% if obra.pk > 0 %}
                                <h5><a href="{% url 'symbiarts_app:detalle_obra' pk=obra.pk %}">{{ obra.nombre }}</a></h5>
                            {% else %}
                                <h5>Ups <i class="far fa-sad-tear"></i> esta obra fue eliminada</h5>
                            {% endif %}
                            {% if detalle.cantidad_obra == 1 %}
                                <p>Total: $ {{ detalle.precio_total }} ({{ detalle.cantidad_obra }} unidad)</p>
                            {% else %}
                                <p>Total: $ {{ detalle.precio_total }} ({{ detalle.cantidad_obra }} unidades)</p>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
