{% extends 'symbiarts_app/base.html' %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <h1>Nueva obra</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form_errors file_form %}

        {% bootstrap_field form.nombre placeholder='Ingrese el nombre de la obra' %}
        {% bootstrap_field form.categoria %}
        {% bootstrap_field form.descripcion placeholder='Ingrese una descripcion para la obra' %}
        {% bootstrap_field form.stock placeholder='Ingrese el stock de la obra' %}
        <div style="display: none">
            {% bootstrap_field form.estado %}
        </div>
        {% bootstrap_field form.dimensiones placeholder='Ingrese las dimensiones de la obra' %}
        {% bootstrap_field form.precio placeholder='Ingrese el precio de la obra' %}
        {% bootstrap_field form.tipo %}

        <label for="{{ file_form.archivo.id_for_label }}">Archivos de la Obra:</label>
        {% bootstrap_field file_form.archivo show_label=False %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Publicar</button>
        {% endbuttons %}
    </form>
{% endblock %}