{% extends 'symbiarts_app/base.html' %}

{% block title %}Tienda Symbiarts{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% block content %}
    {% if cadena_buscada %}
        <div class="row">
            <h4>Resultados para: "{{ cadena_buscada }}"</h4>
        </div>
    {% endif %}
    <div class="row">
        {% for obra in obras %}
            <div class='col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12'>
                <div class="card lista_obras">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'symbiarts_app:detalle_obra' pk=obra.pk %}">{{ obra.nombre }}</a></h5>
                        <!-- Hacer un previsualizador de archivos o galeria -->
                        <a href="{{ obra.archivos.archivo.url }}">{{ obra.archivos.archivo.name }}</a>
                        <p class="card-text">Categoria: {{ obra.categoria }}</p>
                        <p class="card-text">{{ obra.descripcion|linebreaksbr }}</p>
                        {% if obra.stock %}
                            <p class="card-text">Stock: {{ obra.stock }}</p>
                        {% endif %}
                        {% if obra.estado %}
                            <p class="card-text">Estado: {{ obra.estado }}</p>
                        {% endif %}
                        {% if obra.dimensiones %}
                            <p class="card-text">Dimensiones: {{ obra.dimensiones }}</p>
                        {% endif %}
                        {% if obra.precio %}
                            <p class="card-text">Precio: {{ obra.precio }}</p>
                        {% endif %}
                        {% if obra.tipo %}
                            <p class="card-text">Tipo: {{ obra.tipo }}</p>
                        {% endif %}
                        <div class="card-footer text-muted">
                            Publicada el {{ obra.fecha_publicacion }}
                            <br>
                            {% if obra.comentarios.count == 0 %}
                                No tiene comentarios
                            {% elif obra.comentarios.count == 1 %}
                                Tiene 1 comentario
                            {% else %}
                                Tiene {{ obra.comentarios.count }} comentarios
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div></div><div class='row'>
                {% else %}
                    </div>
                {% endif %}
        {% endfor %}
    </div>

    {% include 'symbiarts_app/paginator.html' with paginator=obras %}

{% endblock %}
