{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts - Ventas{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% load humanize %}
{% load model_tags %}

{% block content %}
    <ul class="list-group mt-3">
        <h2>Ventas</h2>
        {% for venta in ventas %}
            <li class="list-group-item lista_compras rounded">
                <div class="row">
                    <div class="col">
                        <h4>Vendiste {{ venta.fecha|naturaltime }}
                            <span>
                                <a href="{% url 'symbiarts_app:detalle_venta' venta_id=venta.id %}" class="btn btn-primary float-right"><i class="fas fa-file-alt"></i> Detalle</a>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-2">
                        {% obtener_img_venta_artista venta user.id as detalle_venta %}
                        {% if detalle_venta.obra_url_imagen %}
                            <img src="{{ detalle_venta.obra_url_imagen }}" class="img-fluid" alt="{{ detalle_venta.obra_nombre }}">
                        {% else %}
                            <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="{{ detalle_venta.obra_nombre }}">
                        {% endif %}
                    </div>
                    <div class="col">
                        {% for detalle in venta.detalle_venta_obra.all %}
                            {% if detalle.obra_artista == user %}
                                <div class="row">
                                    <div class="col">
                                        {% if detalle.obra_id > 0 %}
                                            <p class="mb-0"><a href="{% url 'symbiarts_app:detalle_obra' pk=detalle.obra_id %}">{{ detalle.obra_nombre }}</a></p>
                                        {% else %}
                                            <p>Ups <i class="far fa-sad-tear"></i> esta obra fue eliminada</p>
                                        {% endif %}
                                        {% if detalle.cantidad_obra == 1 %}
                                            <p>Total: ${{ detalle.precio_total }} ({{ detalle.cantidad_obra }} unidad)</p>
                                        {% else %}
                                            <p>Total: ${{ detalle.precio_total }} ({{ detalle.cantidad_obra }} unidades)</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col">
                        <div class="row">
                            <i class="fas fa-user-circle fa-3x"></i>
                            <div class="col pl-2">
                                <p class="font-weight-bold mb-0">Comprador</p>
                                <p>{{ venta.cliente }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% empty %}
            <div class="jumbotron text-xs-center">
                <h2 class="display-4">Aún no has realizado ninguna venta.</h2>
                <a class="btn btn-primary" href="{% url 'symbiarts_app:lista_obras' %}" role="button"><i class="fas fa-store"></i> Volver a la tienda</a>
                <a class="btn btn-success" href="{% url 'symbiarts_app:nueva_obra' %}" role="button"><i class="fas fa-dollar-sign"></i> Vendé tu primer obra</a>
            </div>
        {% endfor %}
    </ul>

    {% include 'symbiarts_app/paginator.html' with paginator=ventas %}

{% endblock %}
