{% extends 'symbiarts_app/base.html' %}
{% load static %}
{% block title %}Tienda Symbiarts - Compras{% endblock %}

{% block navbar %}
    {% include 'symbiarts_app/navbar.html' %}
{% endblock %}

{% load humanize %}

{% block content %}
    <ul class="list-group mt-3">
        <h2>Compras</h2>
        {% for compra in compras %}
            <li class="list-group-item lista_compras rounded">
                <div class="row">
                    <div class="col">
                        <h4>Compraste {{ compra.fecha|naturaltime }}
                            <span>
                                <a href="{% url 'symbiarts_app:detalle_compra' compra_id=compra.id %}" class="btn btn-primary float-right"><i class="fas fa-file-alt"></i> Detalle</a>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-2">
                        {% with detalle=compra.detalle_venta_obra.first %}
                            {% if detalle.obra_url_imagen %}
                                <img src="{{ detalle.obra_url_imagen }}" class="img-fluid" alt="{{ detalle.obra_nombre }}">
                            {% else %}
                                <img src="{% static 'img/default.svg' %}" class="img-fluid" alt="{{ detalle.obra_nombre }}">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col">
                        {% for detalle in compra.detalle_venta_obra.all %}
                            <div class="row">
                                <div class="col">
                                    {% if detalle.obra_id > 0 %}
                                        <p class="mb-0"><a href="{% url 'symbiarts_app:detalle_obra' pk=detalle.obra_id %}">{{ detalle.obra_nombre }}</a></p>
                                    {% else %}
                                        <p>Ups <i class="far fa-sad-tear"></i> esta obra fue eliminada</p>
                                    {% endif %}
                                    {% if detalle.cantidad_obra == 1 %}
                                        <p>Total: ${{ detalle.precio_total }} ({{ detalle.cantidad_obra }} unidad)</p>
                                    {% else %}
                                        <p>Total: ${{ detalle.precio_total }} ({{ detalle.cantidad_obra }} unidades)</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for detalle in compra.detalle_venta_obra.all %}
                            <div class="row">
                                <i class="fas fa-user-circle fa-3x"></i>
                                <div class="col pl-2">
                                    <p class="font-weight-bold mb-0">Vendedor</p>
                                    <p>{{ detalle.obra_artista }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% empty %}
            <div class="jumbotron text-xs-center">
                <h2 class="display-4">Aún no has realizado ninguna compra.</h2>
                <a class="btn btn-primary" href="{% url 'symbiarts_app:lista_obras' %}" role="button"><i class="fas fa-store"></i> Comprá tu primer obra</a>
            </div>
        {% endfor %}
    </ul>

    {% include 'symbiarts_app/paginator.html' with paginator=compras %}

{% endblock %}
