{% load bootstrap4 %}

<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Tienda<br>Symbiarts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if formBuscar %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'symbiarts_app:buscar_obras' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_messages %}
                {% bootstrap_form_errors formBuscar %}
                {% bootstrap_field formBuscar.cadena show_label=False placeholder='Buscar' %}
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        {% endif %}
        <ul class="navbar-nav ml-auto">
            <li>
                {% with totail_items=carrito|length %}
                    {% if carrito|length > 0 %}
                        <a href="{% url 'carrito:detalle_carrito' %}">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                            {{ totail_items }} obra{{ totail_items|pluralize }} $ {{ carrito.obtener_precio_total }}
                        </a>
                    {% else %}
                        <a href="{% url 'carrito:detalle_carrito' %}">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                        </a>
                    {% endif %}
                {% endwith %}
            </li>
            <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'my_account' %}">Mi cuenta</a>
                        <a class="dropdown-item" href="{% url 'symbiarts_app:nueva_obra' %}">Nueva Obra</a>
                        <a class="dropdown-item" href="#">Mis Obras</a>
                        {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Seccion Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#" aria-disabled="true">Membresia</a>
                        <a class="dropdown-item disabled" href="#" aria-disabled="true">Comisiones</a>
                        <a class="dropdown-item disabled" href="#" aria-disabled="true">E.P</a>
                        <a class="dropdown-item disabled" href="#" aria-disabled="true">Grupos</a>
                    </div>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'login' %}">Iniciar sesión</a>
                    <a class="btn btn-primary" href="{% url 'signup' %}">Regístrate</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
